body {
    margin: 0;
    background: #003049;
 
}
#title1{
    color: white;
   margin-top: 50px;
   margin-left: 25px;
   padding-bottom: 0;
   margin-bottom: 0;
}
#title2{
    color: #1dd3b0;
    margin-top: 2px;
    padding-top: 0;
    margin-left: 25px;
       margin-bottom: 8px;
}
#heading{
     margin-top: 0;
    padding-top: 0;
       margin-left: 25px;
       color: grey;
       font-weight: lighter;
   text-shadow: 0px 0px 0.2px white;
}
button{
    display: block;
    background: #1dd3b0;
    border: 1px solid #1dd3b0;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
        margin-left: 25px;
    padding: 8px 7px 7px 7px;
    border-radius: 5px;
}

#pass{
    
        background: #003049;
    margin-left: 25px;
    margin-top: 15px;
    color: #d3f3f1;
    border:  1px solid #1dd3b0;
    padding:4px;
    border-radius: 2px;
 
}